@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// Small devices
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 1024px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}
.announcements {
  margin-top: -40px;
  margin-left: -6%;
  width: 113%;
  background: rgb(244,244,244);
  @include md {
    margin-left: -17px;
    width: 107%;
  }
  @include sm {
    margin-left: -6%;
    width: 113%;
  }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
.boxTiles
{
  box-sizing: border-box;
  -webkit-box-flex: 0;
    flex: 0 0 271px;
    flex-direction: column;
    margin: -1rem 0px;
}
  p{
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 11px;
    margin-left: 4%;
    @include md {
      margin-top: 10px;
    font-size: 12px;
    }
    @include sm {
      margin-top: 3px;
      font-size: 11px;
    }
  }
  h4{
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    margin-left: 0px;
    font-weight: 600;
  }
  a {
    color:white;
    text-decoration: none;
  }
  a:hover {
    color:white;
    text-decoration: none;
  }
  a:visited {
    color:white;
    text-decoration: none;
  }
  a:active {
    color:white;
    text-decoration: none;
  }
  .titleAnn
  {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    @include md {
      font-size: 16px;
      margin-top: 4%;
    }
    @include sm {
      margin-top: 2%;
      font-size: 14px;
    }
  }
  .descAnn
  {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    height: 50px;
    @include lg {
      margin-top: 4%;
    }
    @include md {
      margin-top: 4%;
      font-size: 14px;
    }
    @include sm {
      margin-top: 3%;
      font-size: 12px;
      height: 41px;
    }
  }
  .dateAnn
  {
    margin-left: 4%;
    font-size: 11px;
    color: black;
    @include md {
     
      font-size: 12px;
    }
    @include sm {
      font-size: 11px;
    }
  }
  .descTeam
  {
    font-weight: 400;
    /* padding: 10px; */
    margin-top: 3%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    @include lg {
      margin-top: 5%;
    } 
    @include md {
      font-size: 14px;
    } 
    @include sm {
      font-size: 12px;
      margin-top: 5%;
    }
  }
  .titleTeam
  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    @include md {
      font-size: 16px;
    } 
    @include sm {
      font-size: 14px;
    }
  }
  .imgTeam
  {
    width: 20%;
    height: auto;
  }
.square{
  height: 40px;
    width: 48%;
    padding-bottom: 25%;
    background-color: #cb2b1f;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;  
    @include lg {
      height: 70px;
      } 
    @include md {
      height: 0px;
    }
    @include sm {
      height: 40px;
    }
}
.square2{
  height: 40px;
  width: 50%;
  padding-bottom: 25%;
  background-color: #808c24;
  display: inline-block;
  margin-top: 10px;
  float: left;
  @include lg {
  height: 70px;
  }
  @include md {
    height: 0px;
  }
  @include sm {
    height: 40px;
  }
}
.square3{
  height: 50px;
  width: 50%;
  display: inline-block;
  margin-top: 10px;
    img{
      height: 148px;
      width: 96%;
      opacity: 1;
      @include lg {
        height: 150px;
      }
      @include md {
        height: 189px;
      }
      @include sm {
        height: 128px;
      }
    }
}
.annTiles{
    height: 40px;
    width: 48%;
    padding-bottom: 25%;
    background-color: #005587;
    display: inline-block;
    float: left;
    margin-top: 0px;
    @include lg {
      height: 70px;
    }
    @include md {
      height: 0px;
    }
    @include sm {
      height: 40px;
    }
  div{
    margin-left: 2%;
  }
}
.annTiles2{
  height: 40px;
  width: 48%;
  padding-bottom: 25%;
  background-color: #005587;
  display: inline-block;
  float: left;
  margin-top: 7px;
  @include lg {
    height: 70px;
  }
  @include md {
    height: 0px;
  }
  @include sm {
    height: 40px;
  }
  div{
    margin-left: 2%;
  }
}
.annTiles3{
  height: 40px;
  width: 48%;
  padding-bottom: 25%;
  background-color: #cb2b1f;
  display: inline-block;
  margin-left: 12px;
  margin-top: 7px;
  @include lg {
    height: 70px;
  }
  @include md {
    height: 0px;
  }
  @include sm {
    height: 40px;
  }
}
.content
{
  position: absolute;
  width: 100%;
  height: 100%;
}
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  @include sm {
    .annTiles3{
      p {
        margin-bottom: 7px !important;
      }
      h4{
        margin-top: -2px;
      }
    }
    .annTiles{
      p {
          margin-top: -5px !important;
        }
        h4{
          margin-top: -2px;
        }
        .descTeam
        {
          font-size: 11px; 
        }
        .titleTeam
        {
          font-size: 13px; 
        }
      } 
      .annTiles2{
        p {
            margin-top: -5px !important;
          }
          h4{
            margin-top: -2px;
          }
        } 
      .square3{
        img {
            height: 128px;
          }
        }   
        .square2{
        p{
             margin-bottom: -5px !important;
          }
        }  
        .square{
        p{
             margin-bottom: 7px !important;
          }
          h4{
            margin-top: 5px;
          }
          .titleAnn
          {
            font-size: 13px;
          }
        }  
  }
}