@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// Small devices
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}

.mostReadArticles {
  background-color: rgb(244,244,244);
  @include md {
    margin-left: -7px;
    margin-top: -90px;
  }
  @include sm {
    margin-left: -12px;
    margin-top: -55px;
  }
  .container {
    max-width: 700px;
    margin: 0px auto;
    background-color: rgb(244,244,244);
  }
  button
  {
    width: 100%;
    height: 30px;
    background-color: #da291c;
    border: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 20px;
  }
h3{
  color: #000;
  margin-bottom: 0;
  padding-left: 20px;
  @include md {
    padding-left: 0px;
  }
  @include sm {
    padding-left: 2px;
  }
}
h3 a,h3 a:visited,h3 a:hover{
  color: black;
  text-decoration: none;
}
button a,  button a:hover, button a:visited{
  color: white;
  text-decoration: none;
}
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: rgb(244,244,244);
    padding-bottom :30px;
    border-bottom: 1px solid lightgray;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .QuickLinks
  {
    border: 0;
    margin-left: 35px;
    padding-left: 20px;
    @include md {
      padding-left: 0px;
    }
    @include sm {
      padding-left: 4px;
    }
    ul{
      list-style: none !important;
      margin: 0;
      padding: 0%;
      }
      ul li {
        margin-bottom:-10px;
        font-size: 12px;
        display: list-item;
        @include sm {
          margin-bottom:-5px;
        }
      }
      ul li::before {
        content: "\2022";
    color: brown!important;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 25px;
    @include sm {
      font-size: 21px;
    }
      }
      a { text-decoration: none;
          color: black;
      }
      a:visited {
        text-decoration: none;
          color: black;
      }
  }                
}