@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// Small devices
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}
.popularDocs {
  width: 100%;
  //border: 1px solid #d3d3d3 !important;
  background: rgb(244,244,244);
  @include md {

  }
      @include sm {
        
      }
  h3{
    margin-bottom: 5px!important;
    padding-left: 5px;
    margin-top: -40px;
    padding-top: 10px;
  }
  .col-md-6
  {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .media > .pull-left {
    margin-right: 15px;
}
.media-left, .media>.pull-left {
  padding-right: 10px;
  margin-top: 12px;
  background-color: rgb(0, 85, 135);
  height: 70px;
  width: 70px;
}
.pull-left {
  float: left!important;
}
a {
  color: white;
  text-decoration: none;
}
a {
  background-color: transparent;
}
hr{
  height: 1px;
  width: 100%;
  border: 0;
  margin: auto;
  background: lightgrey;
  margin-top: 8px;
}
.media .dateEl {
  display: inline-block;
  text-align: center;
  padding: 18px 0 25px 0;
  color: white;
  font-size: 10px;
  font-weight: 700;
  width: 80px;
  padding-top: 10px;
  text-transform: uppercase;
}
.media .dateEl em {
  display: block;
  color: white;
  font-size: 25px;
  line-height: 1;
  margin-bottom: 5px;
  font-style: normal;
}
.media-body, .media-left, .media-right {
  vertical-align: top;
  width: 100%;
}
.media-body p{
color: dimgray;
}
.media-heading {
  margin-top: 10px;
  margin-bottom: 0px;
}
.h4, h4 {
  font-size: 18px;
}
.mediahr
{
  background-color:lightgray;
  height: 1px;
  border: none;
  margin-left: 0px;
  margin-bottom: -10px;
}
.media .media-heading a {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.media .meta-data {
  margin: 0 0 0px 0;
  width: 100%;
}
.media .creator {
  border-right: none;
}
.media .creator {
  border-right: none;
    padding: 0 20px 0 0;
    width: 80px;
    margin-right: 8%;
    color: #00f!important;
}
.media .creator, .media .docViews {
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  color: #636465;
  text-transform: capitalize;
  min-height: 16px;
}
.media .docViews
{
    color: gray !important;
    font-size: 9px;
    font-weight: 500;
}
.btn
{
  color:red !important;
  font-size: 12px;
  margin-left: 06px;
  line-height: 35px;
}
.divLine
{
  content: '';
  position: absolute;
  width: 55%;
  height: 1px;
  background-color: lightgray;
  display: inline-block ;
  top:93%;
  left:2%;
  
}
.tab-content
{
  margin-top: -15px !important;
}
// .divEventHeader
// {
//   background: url('./assets/EventHeader.png');
// }
p {
  margin: 0 0 10px;
  font-size: 12px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.tab-content {
  margin: 50px 0 20px 0;
}
.tab-content>.active {
  display: block;
}
.fade.in {
  opacity: 1;
}
div {
  display: block;
}
.media
{
  clear: both;
}
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    padding: 0px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .docIcondiv{
    width: 30px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
  }
.docIcon{
  width: 34px;
  height: 34px;
}
  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}