@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// Small devices
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 1024px;

// Large tablets and desktops
$screen-xl-max: 1200px;
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}
.upcomingEvents {
  width: 102%;
  border:1px solid lightgray;
  background-color: white;
  margin-top: -40px;
  @include lg {
    width: 106%;
  }
  @include md {
    margin-left: -17px;
    width: 104%;
  }
  @include sm {
    width: 111%;
    margin-left: -20px;
  }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-top: -15px;
  }
  .imgEvent
  {
    height: 140px;
    @include lg {
      height: 120px;
    }
    @include md {
      height: 140px;
    }
    @include sm {
      height: 140px;
    }
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    padding: 20px;
  }
  .col-md-6
  {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:-5px;
    @include lg {
      padding-right: 5px;
      padding-left: 5px;
    }
    @include md {
      padding-right: 5px;
      padding-left: 5px;
    }
    @include sm {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .media > .pull-left {
    margin-right: 15px;
}
.media-left, .media>.pull-left {
  padding-right: 10px;
  margin-top: 12px;
  background-color: rgb(0, 85, 135);
  height: 70px;
  width: 70px;
  @include lg {
    height: 75px;
    width: 75px;
  }
  @include md {
    height: 70px;
    width: 70px;
  }
  @include sm {
    height: 70px;
  width: 70px;
  }
}
.pull-left {
  float: left!important;
}
a {
  color: white;
  text-decoration: none;
}
a {
  background-color: transparent;
}
.media .dateEl {
  display: inline-block;
  text-align: center;
  padding: 18px 0 25px 0;
  color: white;
  font-size: 10px;
  font-weight: 500;
  width: 80px;
  text-transform: uppercase;
  padding-top: 10px;
  @include lg {
    padding-top: 15px;
  }
  @include md {
    padding-top: 10px;
  }
  @include sm {
    padding-top: 10px;
  }
}
.media .dateEl em {
  display: block;
  color: white;
  font-size: 25px;
  line-height: 1;
  margin-bottom: 5px;
  font-style: normal;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body p{
color: dimgray;
}
.media-heading {
  margin-top: 5px;
  margin-bottom: 0px;
}
.h4, h4 {
  font-size: 18px;
}
.media .media-heading a{
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  @include lg {
    font-size: 11px;
  }
  @include md {
    font-size: 12px;
  }
  @include sm {
    font-size: 12px;
  }
}
.media .meta-data {
  margin: 0 0 7px 0;
  margin-bottom: 1px !important;
}
.media .longDate {
  border-right: none;
}
.media .longDate {
  padding: 0 10px 0 0px;
  border-right: 1px solid #eb5b4c;
  margin-right: 3px;
}
.media .longDate, .media .timeEl {
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #636465;
  text-transform: uppercase;
  min-height: 16px;
}
.btn
{
  color:red !important;
  font-size: 12px;
  margin-left: 20px;
  line-height: 35px;
  font-weight: 600;
  line-height: 44px;
}
.divLine
{
  content: "";
  position: absolute;
  width: 87%;
  height: 1px;
  background-color: #d3d3d3;
  display: inline-block;
  /* top: 93%; */
  /* left: 2%; */
  margin-left: 10px;
  margin-right: 10px;
  bottom: 40px; 
}
.tab-content
{
  margin-top: -10px;
}
// .divEventHeader
// {
//   background: url('./assets/EventHeader.png');
// }
p {
  margin: 0 0 10px;
  font-size: 11px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-top:-15px;
}
.tab-content {
  margin: 50px 0 20px 0;
}
.tab-content>.active {
  display: block;
}
.fade.in {
  opacity: 1;
}
div {
  display: block;
  position: relative;
}
.eventHeaderText
{
  position: absolute;
    top: 20px;
    color: white;
    left: 20px;
    font-size: 20px;
}
.media
{
  clear: both;
}
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}