@font-face {
    font-family: "revicons";
    fallback: fallback;
    src: url("./assets/revicons.woff") format('woff'),
    url("./assets/revicons.ttf") format('ttf'),
    url("./assets/revicons.eot") format('ttf');
  }
  
  .react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    margin-right: 15px;
  }
  .listHeaderTitle
  {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 90%;
    display: inline-block;
  }
 
  .listHeaderAll
  {
    display: contents;
    background-color: #da291c;
    height: 20px;
    font-size: 12px;
    color: white;
  }
  .listHeaderAllBtn
  {
    background-color: #da291c;
    color: white;
    border: none;
    height: 20px;
    width: 65px;
    font-size: 11px;
  }
  .react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition;
  }
  .react-multiple-carousel__arrow {
    position: absolute;
    outline: none;
    transition: all 0.5s;
    border-radius: 35px;
    z-index: 1000;
    border: none;
    background: rgba(244,244,244,0.5);
    min-width: 33px;
    min-height: 33px;
    opacity: 1;
    cursor: pointer;
    border: 1px solid lightgray;
  }
  .react-multiple-carousel__arrow:hover {
    background: rgba(244,244,244,0.5);
    border: 1px solid lightgray;

  }
  .react-multiple-carousel__arrow::before {
    font-size: 15px;
    color: black;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  .react-multiple-carousel__arrow:disabled {
    cursor: default;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .react-multiple-carousel__arrow--left {
    left: calc(4% + 1px);
    left: 5px !important;
  }
  .react-multiple-carousel__arrow--left::before {
    content: "\e824";
  }
  .react-multiple-carousel__arrow--right {
    right: calc(4% + 1px);
    right: 20px !important;
  }
  .react-multiple-carousel__arrow--right::before {
    content: "\e825";
  }
  
  .react-multi-carousel-dot-list {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  .react-multi-carousel-dot button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer;
  }
  .react-multi-carousel-dot button:hover:active {
    background: #080808;
  }
  .react-multi-carousel-dot--active button {
    background: #080808;
  }
  .react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .react-multi-carousel-item {
      flex-shrink: 0 !important;
    }
    .react-multi-carousel-track {
      overflow: visible !important;
    }
  }
  .message {
    border: 1px solid lightgray;
    width: 95%;
    height: 350px;
  }
  .messagecardWrap{
    padding-top: 0;
    height: 95%;
    width: 93%;
    border: 1px solid lightgray;
  }
  .divImageContainer
  {
    width: 100%;
  }
  .messagecard {
   /* height: 85%;*/
    text-align: center;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}
.messagebordercard {
  background: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 blue;
  box-shadow: 5px 5px 25px 0 blue;
  -moz-border-radius: .375rem;
  border-radius: .375rem;
  border-top: var(--accent-width,5px) solid var(--accent-color,#fff);
}
.messagecardImage {
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: -60px;
  margin-bottom: 2px;
  border: 3px solid #fff;
}
.messagecardName {
  color: #2e3d49;
  margin-bottom: 2px;
  margin-top: 0px;
  font-size:12px;
}
.messageHeaderImg
{
  height: 90px;
  width: 100%;
}
.messagecardQuote {
    font-size:10px;
    padding: 0 10px 10px;
    font-style: italic;
    -moz-box-flex: 1;
    flex: 1 1 auto;
    color:gray;
    height: 25px !important;
    margin-bottom: 0px;
}
p {
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
}
.messagecardCompanyInfo {
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background-color: white;
  -moz-box-flex: 0;
  flex: 0 0 auto;
  width: 100%;
  font-size: 11px !important;
  margin-bottom: 20px;
  
  
}
.messagecardCompanyInfo p{
  padding: 0 20px;
  font-size: 10px;
  font-weight: 500;
}
.messagecardNowAt {
    color: #525c65;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .quotes{
    width: 90%;
    height: 30px;
  }
  @media (max-width: 768px) {
    .listHeaderTitle {
      width: 83%;
      }
    }
  @media (max-width: 576px) {
    .listHeaderTitle {
      font-size: 14px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 5px;
      width: 75%;
      display: inline-block;
      }
      .listHeaderAllBtn {
        border: none;
        width: 50px;
        font-size: 10px;
      }
      .react-multi-carousel-list {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        margin-left: 9px;
        margin-right: 5px;
    }
    .messagecardQuote {
      font-size: 10px;
      padding: 0 10px 10px;
      font-style: italic;
      -moz-box-flex: 1;
      flex: 1 1 auto;
      color: grey;
      height: 25px!important;
      margin-bottom: 8px;
  }
  .messagecardName {
    color: #2e3d49;
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 12px;
}
.messagecardImage {
  width: 70px;
  height: 70px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 2px;
  border: 2px solid #fff;
}
.messageHeaderImg {
  height: 70px;
  width: 100%;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: none;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: none;
  background: rgba(244,244,244,0.5);
  min-width: 20px;
  min-height: 20px;
  opacity: 1;
  cursor: pointer;
  border: 1px solid lightgray;
  margin-top: -38px;
}
.react-multiple-carousel__arrow--right {
  right: 8px !important;
}
.react-multiple-carousel__arrow--left {
  left: 0px!important;
}
.messagecardWrap {
  padding-top: 0;
  height: 95%;
  width: 93%;
  border: 1px solid #d3d3d3;
}
.messagecardCompanyInfo {
  margin-bottom: 10px; 
}
.messagecardCompanyInfo p {
  font-size: 11px;
}
  }