
.channel__column {
  width: 50%;
}
.card--text {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin-bottom: 12px;

}
.byline__author-name
{
  font-size: 11px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  width: 120px;
  float: left;
  text-transform: capitalize;
  
}
.card
{
background-color: white;
border: 1px solid lightgray;
height: 140px;
}
.card__text
{
/*margin-left: 25%;*/
float: left;
}
.divCategory{
margin-left: 15px;
margin-top: 0px;
list-style: none!important;
font-size: 11px;
font-weight: 600;
margin-bottom: 5px;
}
.divCategory::before{
content: "\2022"!important;
color: brown!important;
font-weight: 900!important;
display: inline-block!important;
width: 10px!important;
margin-left: -25px!important;
font-size: 16px!important;
}
.card--text .preview {
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
margin-right: 16px;
width: 280px;
/*width: 88px;*/
}
.preview, .preview__link {
display: block;
}
.preview {
margin-bottom: 16px;
}
.ratio1x2 {
position: relative;
}
a, button {
cursor: pointer;
}
.preview__image {
background-color: #e2e2e2;
background-position: 50%;
background-size: cover;
bottom: 0;
right: 0;
}
.preview__image, .preview__overflow-wrapper {
left: 0;
pointer-events: none;
position: absolute;
top: 0;
}
.headlink {
text-decoration: none;
width: 100%;
FONT-SIZE: 12px;
font-weight: 600;
color: #000;
}
.headlink div{
  height: 24px;
  line-height: 12px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.cardDesc
{
  margin-top: 6px;
  font-size: 11px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.card--text .byline {
display: block;
margin-top: 30px;
}
.byline, .byline__author, .byline__publication {
letter-spacing: -.2px;
line-height: 1.33;
}
.byline__by {
  font-size: 11px;
  width: 5px;
  float: left;
  margin-right: 10px;
}
.byline__author-type {
  color: #000;
  float: right;
  margin-right: 20px;
  font-size: 11px;
  font-weight: 400;
  /* margin-left: 5%; */
  margin-top: 4px;
}
.card__text p{
  height: 35px;
}
@media (max-width: 1024px) 
  {
    .byline__author-name
    {
      width: 100px;
    }
    .byline__author-type {
      margin-top: 0px;
    }
  }
    @media (max-width: 560px) 
    {
    .card {
      background-color: #fff;
      border: 1px solid #d3d3d3;
      height: 90px;
      width: 100%;
    }
    .card--text .preview {
    margin-right: 12px;
    width: 40%;
    }
    .divCategory {
    margin-left: 15px;
    margin-top: 0;
    list-style: none!important;
    font-size: 9px;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: -7px;
    }
    .headlink {
    text-decoration: none;
    width: 100%;
    FONT-SIZE: 9px;
    font-weight: 600;
    color: #000;
    }
    .headlink div {
      height: auto;
      line-height: 10px;
      font-size: 9px;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .card__text p{
      margin-top: 2px;
    font-size: 9px !important;
    width: 205px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 12px;
    }
    .card--text .byline {
    display: block;
    margin-top: 7px;
    position: absolute;
    bottom: -3px;
    margin-bottom: 0;
    }
    .byline__by {
      margin-right: 0;
      font-size: 8px;
      margin-top: 5px;
    }
    .byline__author-name {
      font-size: 8px;
      font-weight: 700;
      color: #000;
      text-decoration: none;
      margin-top: 5px;
      margin-left: 6px;
      width: 50px;
     
    }
    .byline__author-type {
      color: #000;
      float: right;
      margin-right: 5px;
      font-size: 8px;
      font-weight: 400;
      margin-top: 5px;
      margin-left: 10px;
    }
    .cardDesc
    {
      -webkit-box-orient: vertical;
    display: -webkit-box;
    /* display: none; */
    height: 20px;
    line-height: 10px;
    font-size: 8px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    }
    .card__text
    {
      height: 90px;
      position:relative;
    }

    }